Repository hephaex/OTL: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for OTL project
# Install with: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets -- -D warnings -D clippy::all -D clippy::pedantic -D clippy::nursery -A clippy::module_name_repetitions -A clippy::too_many_lines -A clippy::must_use_candidate -A clippy::missing_errors_doc -A clippy::missing_panics_doc
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test (unit tests only)
        entry: cargo test --lib
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        exclude: ^\.github/
      - id: check-toml
      - id: check-json
        exclude: \.ipynb$
      - id: end-of-file-fixer
        exclude: \.(lock|svg|png|jpg|jpeg|gif)$
      - id: trailing-whitespace
        exclude: \.(lock|md)$
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: [--maxkb=1024]

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: (Cargo\.lock|\.history/)

feat: implement RAG caching layer with LRU eviction and TTL (Issue #5)
  Cargo.lock
  clippy.toml
  crates/otl-rag/Cargo.toml
  crates/otl-rag/src/cache.rs
  crates/otl-rag/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

feat: add comprehensive monitoring and observability (Issue #6)
  .history/2025-12-25_p1_rag_caching_implementation.md
  Cargo.lock
  crates/otl-api/Cargo.toml
  crates/otl-api/src/handlers/health.rs
  crates/otl-api/src/lib.rs
  crates/otl-api/src/middleware/metrics.rs
  crates/otl-api/src/middleware/mod.rs
  crates/otl-api/src/state.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

docs: add session log for security, caching, and monitoring implementation
  .history/2025-12-25_security_monitoring_completion.md
Due: none

docs: update session log for repository migration and cleanup
  .history/2025-12-25_repository_migration.md
Due: none

docs: add Ubuntu 22.04 migration guide
  docs/UBUNTU_MIGRATION.md
Due: none

docs: update session log with Ubuntu migration prep
  .history/2025-12-25_repository_migration.md
Due: none

fix: Ubuntu x86_64 migration and auth handler bug fixes
  .cargo/config.toml
  crates/otl-api/src/handlers/auth.rs
  crates/otl-core/src/config.rs
  deploy/kubernetes/deployment.yaml
  docker-compose.yml
  k8s/deployment.yaml
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

fix: resolve compiler warnings in otl-api crate
  crates/otl-api/src/auth/repository.rs
  crates/otl-api/src/auth/service.rs
  crates/otl-api/src/handlers/auth.rs
  crates/otl-api/src/handlers/health.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

fix: apply clippy auto-fixes in otl-api
  crates/otl-api/src/auth/service.rs
  crates/otl-api/src/handlers/health.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

refactor: fix clippy excessive nesting and FromStr warnings in otl-api
  crates/otl-api/src/auth/models.rs
  crates/otl-api/src/handlers/documents.rs
  crates/otl-api/src/handlers/verify.rs
  librust_out.rlib
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

chore: remove build artifact
  librust_out.rlib
Due: none

refactor: fix clippy excessive nesting warnings in otl-parser
  crates/otl-parser/src/docx.rs
  crates/otl-parser/src/excel.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

refactor: fix clippy excessive nesting warnings in otl-extractor
  crates/otl-extractor/src/relation.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

fix: update dependencies to resolve security vulnerabilities
  Cargo.lock
  crates/otl-api/Cargo.toml
Due: cargo-audit

fix: update Ollama healthcheck to use ollama list command
  docker-compose.yml
Due: none

feat: add GitHub Actions CD and Release workflows
  .github/workflows/cd.yml
  .github/workflows/release.yml
Due: none

fix: add permissions for release workflow
  .github/workflows/release.yml
Due: none

fix: add permissions and fix binary path in release workflow
  .github/workflows/release.yml
Due: none

fix: use lowercase image name for GHCR compatibility
  .github/workflows/release.yml
Due: none

docs: add session log for Ubuntu x86 migration and v0.1.0 release
  .history/2025-12-28_ubuntu_x86_migration_release.md
Due: none

feat: implement rate limiting middleware with configurable limits
  Cargo.lock
  crates/otl-api/Cargo.toml
  crates/otl-api/src/lib.rs
  crates/otl-api/src/middleware/mod.rs
  crates/otl-api/src/middleware/rate_limit.rs
  crates/otl-api/src/routes.rs
  crates/otl-core/src/config.rs
  scripts/create-v0.2.0-issues.sh
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

feat: implement rate limiting middleware with configurable limits (#9)
  Cargo.lock
  crates/otl-api/Cargo.toml
  crates/otl-api/src/lib.rs
  crates/otl-api/src/middleware/mod.rs
  crates/otl-api/src/middleware/rate_limit.rs
  crates/otl-api/src/routes.rs
  crates/otl-core/src/config.rs
  scripts/create-v0.2.0-issues.sh
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

feat: add advanced query analysis with multi-intent support
  crates/otl-rag/src/lib.rs
  crates/otl-rag/src/query_analysis.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

feat: add advanced query analysis with multi-intent support (#10)
  crates/otl-rag/src/lib.rs
  crates/otl-rag/src/query_analysis.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

feat: implement PostgreSQL keyword search backend for hybrid RAG
  Cargo.lock
  crates/otl-rag/Cargo.toml
  crates/otl-rag/examples/keyword_search_integration.rs
  crates/otl-rag/src/keyword.rs
  crates/otl-rag/src/lib.rs
  crates/otl-rag/tests/keyword_search_tests.rs
  docs/KEYWORD_SEARCH.md
  migrations/002_fulltext_search.sql
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

feat: implement PostgreSQL keyword search backend for hybrid RAG (#11)
  Cargo.lock
  crates/otl-rag/Cargo.toml
  crates/otl-rag/examples/keyword_search_integration.rs
  crates/otl-rag/src/keyword.rs
  crates/otl-rag/src/lib.rs
  crates/otl-rag/tests/keyword_search_tests.rs
  docs/KEYWORD_SEARCH.md
  migrations/002_fulltext_search.sql
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

feat: enhance HITL verification workflow with batch processing and quality metrics
  crates/otl-api/src/handlers/verify.rs
  crates/otl-api/src/routes.rs
  crates/otl-extractor/src/hitl.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

feat: enhance HITL verification workflow with batch processing and quality metrics (#12)
  crates/otl-api/src/handlers/verify.rs
  crates/otl-api/src/routes.rs
  crates/otl-extractor/src/hitl.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

feat: implement CLI ingestion pipeline
  Cargo.lock
  crates/otl-cli/Cargo.toml
  crates/otl-cli/src/ingest/mod.rs
  crates/otl-cli/src/ingest/tests.rs
  crates/otl-cli/src/main.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

feat: implement CLI ingestion pipeline (#13)
  Cargo.lock
  crates/otl-cli/Cargo.toml
  crates/otl-cli/src/ingest/mod.rs
  crates/otl-cli/src/ingest/tests.rs
  crates/otl-cli/src/main.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

feat: implement comprehensive ontology management & schema evolution
  Cargo.lock
  crates/otl-api/Cargo.toml
  crates/otl-api/src/handlers/mod.rs
  crates/otl-api/src/handlers/ontology.rs
  crates/otl-api/src/routes.rs
  crates/otl-graph/Cargo.toml
  crates/otl-graph/src/lib.rs
  crates/otl-graph/src/ontology.rs
  crates/otl-graph/src/ontology_io.rs
  crates/otl-graph/src/ontology_repository.rs
  crates/otl-graph/src/surrealdb_store.rs
  docs/ONTOLOGY_MANAGEMENT.md
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

feat: implement comprehensive ontology management & schema evolution (#14)
  Cargo.lock
  crates/otl-api/Cargo.toml
  crates/otl-api/src/handlers/mod.rs
  crates/otl-api/src/handlers/ontology.rs
  crates/otl-api/src/routes.rs
  crates/otl-graph/Cargo.toml
  crates/otl-graph/src/lib.rs
  crates/otl-graph/src/ontology.rs
  crates/otl-graph/src/ontology_io.rs
  crates/otl-graph/src/ontology_repository.rs
  crates/otl-graph/src/surrealdb_store.rs
  docs/ONTOLOGY_MANAGEMENT.md
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

feat: implement advanced caching system with Redis integration
  Cargo.lock
  crates/otl-rag/Cargo.toml
  crates/otl-rag/src/cache.rs
  crates/otl-rag/src/lib.rs
  crates/otl-rag/src/redis_cache.rs
  docs/CACHING.md
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

feat: implement advanced caching system with Redis integration (#15)
  Cargo.lock
  crates/otl-rag/Cargo.toml
  crates/otl-rag/src/cache.rs
  crates/otl-rag/src/lib.rs
  crates/otl-rag/src/redis_cache.rs
  docs/CACHING.md
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-audit

feat: implement document management enhancements (#8)
  README.md
  crates/otl-api/src/handlers/documents_bulk.rs
  crates/otl-api/src/handlers/documents_collections.rs
  crates/otl-api/src/handlers/documents_lineage.rs
  crates/otl-api/src/handlers/documents_tags.rs
  crates/otl-api/src/handlers/documents_versions.rs
  crates/otl-api/src/handlers/mod.rs
  crates/otl-api/src/routes.rs
  crates/otl-api/tests/document_mgmt_tests.rs
  crates/otl-core/src/document_mgmt.rs
  crates/otl-core/src/lib.rs
  docs/DOCUMENT_MANAGEMENT_API.md
  migrations/003_document_management.sql
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

feat: implement document management enhancements (#8) (#16)
  README.md
  crates/otl-api/src/handlers/documents_bulk.rs
  crates/otl-api/src/handlers/documents_collections.rs
  crates/otl-api/src/handlers/documents_lineage.rs
  crates/otl-api/src/handlers/documents_tags.rs
  crates/otl-api/src/handlers/documents_versions.rs
  crates/otl-api/src/handlers/mod.rs
  crates/otl-api/src/routes.rs
  crates/otl-api/tests/document_mgmt_tests.rs
  crates/otl-core/src/document_mgmt.rs
  crates/otl-core/src/lib.rs
  docs/DOCUMENT_MANAGEMENT_API.md
  migrations/003_document_management.sql
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

docs: add v0.2.0 release session log
  .history/2025-12-29_v0.2.0_release_session.md
Due: none

feat: add vLLM/OpenAI-compatible API support via OPENAI_API_BASE
  crates/otl-core/src/config.rs
  crates/otl-rag/src/llm.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

fix: enable ConnectInfo for rate limiter IP extraction on localhost
  crates/otl-api/src/main.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test
